body {
  font-family: sans-serif;
  padding: 0px 15px;
  background-color: lightgrey;
}
h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.todo-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid green;
}

.todo-submit {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.todo-submit:hover {
  background-color: darkgreen;
  color: white;
}

.todo-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-list button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
}
